<div class="mt-3 my-ng-fullcalendar">
  <full-calendar class="test" #calendar [options]="calendarOptions" ></full-calendar>
</div>
<p-dialog [header]="headerText" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <label id="example-radio-group-label" class="m-2">Choisir le type de tache</label>
 <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group "
    [(ngModel)]="typeJournalisationT">
    <mat-radio-button class="example-radio-button m-2" *ngFor="let type of taskTypes" [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>
  <hr>
  <form [formGroup]="ajoutJournalisationTFormGroup">
    <div class="card-body">
        <div class="row" *ngIf="typeJournalisationT=='Projet'">
          <div class="form-group col">
            <label class="form-label">Projet</label>
            <select class="form-control" formControlName="projet" >
              <option selected="selected">-- Choisir un projet --</option>
              <option *ngFor="let tache of taches" [value]="tache.idT"> {{tache.nomT}} </option>
            </select>
          </div>
        </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <label class="form-label">Nom</label>
          <input class="form-control" type="text" formControlName="nomT">
        </div>
        <div class="form-group col-lg-6">
          <label class="form-label">Etat</label>
          <select class="form-control" formControlName="etat" >
            <option value="En cour">En cour</option>
            <option value="Terminé">Terminé</option>
          </select>
        </div>
        </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label class="form-label">Discription</label>
        <textarea class="form-control" type="text" formControlName="disc"></textarea>
      </div>
    </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label class="form-label">Date debut</label>
          <input type="date" class="form-control" (blur)="dateStartBlur($event)" placeholder="yyyy-MM-dd" formControlName="dateDebut" [ngModel]="dateStart | date:'yyyy-MM-dd'">
        </div>
        <div class="form-group col-lg-6">
          <label class="form-label">Heure de debut</label>
          <select class="form-control" formControlName="heurStart" [(ngModel)]="heurStart">
            <option selected="selected">choisir une heure</option>
            <option *ngFor="let h of heures" [value]="h">{{h}}</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <label class="form-label">Date fin</label>
          <input type="date" class="form-control" placeholder="yyyy-MM-dd" (blur)="dateEndBlur($event)"
                 formControlName="dateFin" [ngModel]="dateEnd | date:'yyyy-MM-dd'">
        </div>
        <div class="form-group col-lg-6">
          <label class="form-label">Heure de  fin</label>
          <select class="form-control" formControlName="heurEnd" [(ngModel)]="heurEnd">
            <option selected="selected">choisir une heure</option>
            <option *ngFor="let h of heures" [value]="h">{{h}}</option>
          </select>
        </div>
      </div>

    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="displayModal=false">Annuler</button>
    <button class="btn btn-success m-2 " *ngIf="!modeEdit" (click)="displayModal=false; ajoutJournalisationT()" >Ajouter</button>
    <button class="btn btn-success m-2 "  *ngIf="modeEdit" (click)="displayModal=false; modifier()" >Modifier</button>
  </div>

</p-dialog>


