mat-toolbar{
  background:  #5793ce;;
  height: 10%;
}
.login{
  color: white;
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
}
.login:hover{
  color: #ff2c9c;
  text-decoration: none;
  font-weight: normal;
}
/*.titre{*/
/*  margin-left: 100px;*/
/*  font-size: 2.25rem;*/
/*  margin-right: 1rem;*/
/*  color: white;*/
/*}*/
.container{
  background-color: #ff2c9c;
  font-weight: bold;

}
.navcontent{
  margin-left: 5%;
}

.navcontent1{
  margin-left: 70%;
}
.title{
  color: black;
  border: solid 1px ;
  border-radius: 3px;
  padding: 4px;
  margin-right: 10px;
  font-weight: normal;
}
