<mat-toolbar>
  <h3 class="title">
    Timesheet
  </h3>
  <span class="example-spacer"></span>
  <div class="row justify-content-end w-100 mt-2">
    <a class="col-1 login " [routerLink]="['/dashboard/calender']" *ngIf="role.toString()!= 'employee'">
      Calendrier
    </a>
    <a class="col-2 login " [routerLink]="['/dashboard/employee']" *ngIf="role.toString() != 'employee'">
      Gestion des employées
    </a>
    <a class="col-2 login " [routerLink]="['/dashboard/project']" *ngIf="role.toString() != 'employee'">
      Gestion des activités
    </a>
    <a class="col-2 login " [routerLink]="['/dashboard/tache']" *ngIf="role.toString() != 'employee'">
      Gestion des taches
    </a>
    <a class="col-2 login " [routerLink]="['/dashboard/team']" *ngIf="!(role.toString() == 'employee' || role.toString() == 'chef_equipe')">
      Gestion des équipes
    </a>
    <a class="col-2 login " [routerLink]="['/dashboard/client']" *ngIf="!(role.toString() == 'employee' || role.toString() == 'chef_equipe')">
      Gestion des clients
    </a>
    <span class="col-1">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
      <mat-icon class="ic">account_circle</mat-icon>
    </button>
            </span>
    <mat-menu #menu="matMenu">

                <span mat-menu-item class="text-center">
                    <p class="name"> <mat-icon class="ic">account_circle</mat-icon>
                      {{user?.nom}} {{user?.prenom}}</p>

                  </span>

      <hr>
      <button mat-menu-item (click)="openUpdateDialog()">
        <mat-icon>person</mat-icon>
        <span>Ma profile</span>
      </button>
      <button mat-menu-item (click)="redirect()">
        <mat-icon> insert_chart_outlined</mat-icon>
        <span>Mon rapport</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

