<div class="card-header">
<h2 mat-dialog-title  > Mettre à jour le profile de {{user.nom}} {{user.prenom}} </h2>
</div><mat-dialog-content>


  <div class="row">
    <mat-form-field class="col-6" appearance="fill">
        <mat-label>Prenom</mat-label>
        <input matInput maxlength="10" [(ngModel)]="user.prenom" placeholder="prenom ">
    </mat-form-field>
    <mat-form-field class="col-6" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="user.nom" maxlength="10" placeholder="nom">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-6" appearance="fill">
        <mat-label>email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="user.email" [formControl]="email" required>
    </mat-form-field>
    <mat-radio-group class="col-6"  [(ngModel)]="user.sexe"  aria-label="Select an option">
        <mat-label>Sexe</mat-label>
<br>
        <mat-radio-button value="Homme" style="color:blue;">Homme</mat-radio-button>
        <mat-radio-button value="Femme" style="color:palevioletred;">Femme</mat-radio-button>
      </mat-radio-group>
</div>

<div class="row">


  <mat-form-field class="col-6" appearance="fill">
      <mat-label>Date de naissance</mat-label>
      <input matInput [(ngModel)]="user.age"[matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-6" appearance="fill">
      <mat-label>Cin</mat-label>
      <input matInput maxlength="8" [(ngModel)]="user.cin" placeholder="Cin ">
  </mat-form-field>
</div>

<div class="row">
  <mat-form-field class="col-6" appearance="fill">
      <mat-label>Code postal</mat-label>
      <input matInput [(ngModel)]="user.codepostal" maxlength="4" placeholder="codepostal">
  </mat-form-field>
  <mat-form-field class="col-6" appearance="fill">
      <mat-label>Ville</mat-label>
      <input matInput maxlength="15" [(ngModel)]="user.ville" placeholder="Ville ">
  </mat-form-field>
</div>
  <div class="row">
    <mat-form-field class="col-6" appearance="fill">
      <mat-label>NumTelephone</mat-label>
      <input matInput maxlength="8" [(ngModel)]="user.numtelephone" placeholder="numtelephone ">
    </mat-form-field>
    <mat-form-field class="col-6" appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select   [(ngModel)]="user.role" placeholder="Gouvernerat" required>
        <mat-option value="employee" >Employé</mat-option>
        <mat-option value="chef_equipe"> Chef d'équipe</mat-option>
        <mat-option value="chef_service"> Chef service</mat-option>
        <mat-option value="directeur_generale"> Directeur generale</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div class="row" *ngIf="user.role.toString() != 'directeur_generale'">
  <mat-form-field class="col-6" appearance="fill">
    <mat-label>Equipe</mat-label>
    <mat-select   [(ngModel)]="user.equipe" [compareWith]="equipeCompare" placeholder="Equipe" required>
      <mat-option *ngFor="let team of teamList" [value]="team" > {{team.nomE}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-6" appearance="fill">
    <mat-label>Directeur</mat-label>
    <mat-select [(ngModel)]="user.directeur" [compareWith]="userCompare" placeholder="Directeur" required>
      <mat-option *ngFor="let u of users" [value]="u"> {{u.nom}}{{u.prenom}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
    <button mat-button [mat-dialog-close]="close" (click)="updateUser()" cdkFocusInitial>Mettre à jour</button>
  </mat-dialog-actions>
