html, body {
    height: 100%;
    font-family: "Helvetica Neue";
  }

   .password{
      cursor: pointer;
      text-decoration: underline;
      color: #005eff;
    }

.btn-info{
  background-color: #5793ce;
}
.forget{
  color: #ff2c9c;
  text-underline:  #ff2c9c;
  cursor: pointer;
}
